@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 40px;
}

body {
  font-family: "rubik";
  background: #FFF;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

section {
  padding: 30px 0;
}

.cards ul li, .sec2_info li {
  display: flex;
  gap: 10px;
  align-items: center;
}

.head {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 40px;
  align-items: center;
}
nav a {
  font-weight: 400;
  font-size: 16px;
  color: #4f5665;
}

.btns {
  display: flex;
  gap: 30px;
  align-items: center;
}
.btns .btn1 {
  font-weight: 500;
  font-size: 16px;
  color: #0b132a;
}
.btns .btn2 {
  padding: 13px 45px;
  border: 1px solid #f53855;
  border-radius: 50px;
}
.btns .btn2 a {
  font-weight: 500;
  font-size: 16px;
  color: #f53855;
}

.sec1_info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 103px;
}
.sec1_info h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: #0b132a;
  font-weight: 700;
  max-width: 555px;
}
.sec1_info p {
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 555px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
  font-weight: 500;
}
.sec1_info .btn3 {
  padding: 17px 78px;
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  color: #fff;
  background: #f53838;
  border-radius: 10px;
  max-width: 250px;
}
.sec1_info .btn3 a {
  font-weight: 700;
  font-size: 16px;
  line-height: 156%;
  color: #fff;
}

.sec1_icons {
  display: flex;
  justify-content: space-around;
}
.sec1_icons > div {
  display: flex;
  align-items: center;
  gap: 35px;
}
.sec1_icons > div .num {
  font-weight: 700;
  font-size: 25px;
  line-height: 120%;
  color: #0b132a;
}
.sec1_icons .line {
  width: 2px;
  height: 125px;
  background: #eeeff2;
}

.sec2_info {
  display: flex;
  justify-content: space-between;
  background: #fefefe;
  margin-bottom: 100px;
}
.sec2_info h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  color: #0b132a;
  max-width: 555px;
}
.sec2_info p {
  margin-top: 20px;
  margin-bottom: 50px;
  max-width: 555px;
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  color: #4f5665;
  font-weight: 500;
}
.sec2_info li p {
  margin-top: 15px;
  margin-bottom: 15px;
}

h2 {
  font-weight: 500;
  font-size: 35px;
  line-height: 143%;
  text-align: center;
  color: #0b132a;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  text-align: center;
  color: #4f5665;
}

.cards .card {
  border: 2px solid #ddd;
  border-radius: 10px;
  width: 330px;
  height: 760px;
  background: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 79px;
  padding-bottom: 30px;
}
.cards h3 {
  margin-top: 30px;
  margin-bottom: 30px;
}
.cards ul {
  width: 200px;
}
.cards ul li p {
  text-align: left;
}

.footer {
  font-size: 22px;
}/*# sourceMappingURL=main.css.map */